---
/*
{
  Headliner: 'Endpoints Astro',
  ShortDescription: null,
  Link: 'https://docs.astro.build/en/core-concepts/endpoints/',
  Prioety: 'Low',
  Relevans: 'Personal',
  Media: 'Coding',
  Type: 'Link',
  id: 323,
  img: null
}

*/
const {
  Headliner,
  ShortDescription,
  Link,
  Prioety,
  Relevans,
  Media,
  Type,
  img,
} = Astro.props;
---

<!-- <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
<a href={Link}>
  <article >
    <img
      src={img ||
        "https://sweetnoize.com/wp-content/uploads/2020/04/15284878_1672876486286334_5825103658916329782_n-600x600.jpg"}
      alt=""
      class="rounded-t-lg"
    />
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{Headliner}</h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{ShortDescription}</p>
    

    
    <div  class="   inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Gå til link
       <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9 "/>
      </svg>
    </div>
  </article>
</div> -->





<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a  href={Link}>
      <img class="rounded-t-lg" src={img ||
        "https://sweetnoize.com/wp-content/uploads/2020/04/15284878_1672876486286334_5825103658916329782_n-600x600.jpg"} alt="" />
  </>
  <div class="p-5">
      <a href={Link}>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{Headliner}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{ShortDescription}</p>
      <a href={Link} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
           <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
          </svg>
      </a>
  </div>
</div>

